@model TracNghiemOnline.Models.Lophoc

<h1>Thêm lớp học mới</h1>

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Tenlop" class="control-label"></label>
        <input asp-for="Tenlop" class="form-control" />
        <span asp-validation-for="Tenlop" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mota" class="control-label"></label>
        <input asp-for="Mota" class="form-control" />
        <span asp-validation-for="Mota" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
