@model TracNghiemOnline.Models.Lophoc

<h1>Chi tiết lớp học</h1>

<div>
    <h4>ID: @Model.Idlop</h4>
    <h4>Tên lớp: @Model.Tenlop</h4>
    <h4>Mô tả: @Model.Mota</h4>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Idlop">Chỉnh sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</p>
